@import url(../fonts/fonts.css);

/* Generic styling. */
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: Lato, sans-serif;
  letter-spacing: 0;
  text-transform: none;
}

.reveal code {
  font-family: Inconsolata, monospace;
}

.reveal ul {
  list-style: none;
  margin-left: 0;
}

.octicon {
  font-family: octicons !important;
  font-size: 2em !important;
  font-weight: normal !important;
}

/* Background styles. */

/* Support a "translucent" background that puts the default gradient over the
 * top. */
.backgrounds div[data-background-hash^="translucent"].slide-background.present {
  opacity: 0.85;
  background: -moz-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7fbfc), color-stop(100%, #add9e4));
  background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: -o-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: -ms-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background-color: #f7fbfc;
}

/* Slides with specific background images have their opacity crunched down. */
.backgrounds .stack div[style*="background-image"].slide-background.present {
  opacity: 0.15;
}

/* Slide specific styles. */
.reveal #title h1 {
  font-size: 3em;
}

.image-credits .licence:before {
  content: " (";
}

.image-credits .licence:after {
  content: ")";
}

/* vim: set nocin ai et ts=2 sw=2: */
